.my-header {
  height: 10vh;
}

.my-container {
  height: 90vh;
}

.user-list {
  overflow-x: hidden;
}

.chat-box-container {
  overflow-x: hidden;
}

.blue-message {
  color: white;
  background: #007bff;
}

.grey-message {
  background: grey;
}