.my-header {
  height: 10vh;
}

.my-container {
  height: 90vh;
}

.user-list {
  overflow-x: hidden;
}

.chat-box-container {
  overflow-x: hidden;
}

.blue-message {
  color: white;
  background: #0084ff;
}

.grey-message {
  background: #f1f0f0;
}

.is-online {
  color: #19d243;
}

.is-offline {
  color: indianred;
}

/* starred user */
.checked {
  color: orange;
}